// FONT
$headerSize: 24px;
$headerWeight: bolder;

// COLOR
$black: #000000;
$orange: #FFA500;
$gray: #3C3E44;
$darkgray: #24282F;
$lightgray: #D3D3D3;
$white: #FFFFFF;
$green: #55CC44;
$red: #D63D2E;