.container {
    display: flex;
    flex-direction: column;
    padding: {
        top: 40px;
        bottom: 20px;
    };
}
.filterButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.episodesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: {
        top: 40px;
        bottom: 20px;
    };
    gap: 20px;
}
.spinnerContainer {
    margin-top: 100px;
}